<div class="container-simulation-form">
<%= simple_form_for [@appartement, @simulation] do |f| %>
  <%= f.input :client, placeholder: 'Choisissez un client' %>
  <%= text_field_tag :duree_pret, placeholder: 'Choisissez un client' %><br>
  <%= f.submit %>
<% end %>
</div>

