<div class="container mt-3">
  <%= link_to "HTML", simulation_pdf_simulations_show_path(@simulation), class: "btn btn-ghost" %>
  <%= link_to "PDF", simulation_pdf_simulations_show_path(@simulation, format: :pdf), class: "btn btn-ghost" %>
</div>


<div class="capital-net" data-capital-net="<%= @capital_net.to_json %>"></div>
<canvas class="chart" width="400" height="400"></canvas>
