.container-index {
 width: 100%;
}

.left-side {
  background-color: yellow;
  width: 60%;
  padding:20px;
}

.right-side {
  background-color: blue;
  width: 40%;
}

.container-card {
  background-color: white;
  padding: 0px;
  margin-left: 0px;
  width: 400px;
  margin-left: 0px;
  border-radius: 2px;
  width: 100%;
}

#map {
  position: sticky;
}

// CARD CONTENT
#slim {
  .container-card {

  }

}

