.container-button-selection {
  width: 900px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
}

.container-basket {
  width: 900px;
  margin: 0 auto;
  position: relative;
  margin-top: 70px;
}

.container-basket .card-product-infos {
  // margin-left: 3rem !important;
  width: 700px;
}

.next-step {
  position: absolute;
  right: 10px;
  padding-top: 10px;
  }

.next-step a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.next-step .btn-ghost {
  background-color: $jungle;
}

.next-step-comparaison a {
  color: $dark-grey;
}

.next-step-comparaison-link {
  text-decoration: none;
}

.next-step-retour a {
 color: $dark-grey;
}

.next-step-retour-link {
 text-decoration: none;
}

.comparer {
  width: 200px;
}

.comparer .btn-success {
  background-color: $jungle;
  color: white;
  border-radius: 3px;
  border: 1px solid $jungle;
  width: 170px;
}

.comparer .btn-danger {
  border-radius: 3px;
  width: 170px;
}
