<div>
  <div>
    <%= image_tag "https://res.cloudinary.com/agazielly/image/upload/c_crop,h_150,w_500/v1566903122/Hubstone_ogfubl.png" %>
  </div>

  <br>
  <br>

  <div>
    <p>Etude personnalisée de ...</p>
    <p>Conseiller : </p>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div>
    <table border="0" cellpadding="10" cellspacing="5" width="100%">
      <thead>
        <tr>
            <th width="50%" align="left">Synthèse de simulation</th>
            <th width="50%" align="left">Votre situation actuelle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Programme : </strong></td>
          <td><strong>Statut marital : </strong></td>
        </tr>
        <tr>
          <td><strong>Durée de simulation :</strong></td>
          <td><strong>Nombres de parts fiscales : </strong></td>
        </tr>
        <tr>
          <td><strong>Numéro de lot : </strong></td>
          <td><strong>Tranche marginale d'imposition : </strong></td>
        </tr>
        <tr>
          <td><strong>Régime fiscale : </strong></td>
          <td><strong>Revenus nets imposables : </strong></td>
        </tr>
        <tr>
          <td><strong>Investissement à crédit : </strong></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div>
    <table border="0" cellpadding="10" cellspacing="5" width="100%">
      <thead>
        <tr>
          <th width="50%" align="left">Détails de l'investissement</th>
          <th width="50%" align="left">Hypothèses de financement</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td><strong>Date d'acquisition : </strong></td>
          <td><strong>Type d'emprunt : </strong></td>
        </tr>
        <tr>
          <td><strong>Montant de l'acquisition : </strong></td>
          <td><strong>Durée d'amortissement : </strong></td>
        </tr>
        <tr>
          <td><strong>Loyer annuel : </strong></td>
          <td><strong>Date initiale : </strong></td>
        </tr>
        <tr>
          <td><strong>Charges annuelles : </strong></td>
          <td><strong>Montant emprunté : </strong></td>
        </tr>
        <tr>
          <td><strong>Taxe foncière annuelle : </strong></td>
          <td><strong>Apport : </strong></td>
        </tr>
        <tr>
          <td><strong>Revalorisation locative : </strong></td>
          <td><strong>Différé d'amortissement : </strong></td>
        </tr>
        <tr>
          <td></td>
          <td><strong>Taux d'emprunt : </strong></td>
        </tr>
        <tr>
          <td></td>
          <td><strong>ADI : </strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="alwaysbreak">
    <div>
    <%= image_tag "https://res.cloudinary.com/agazielly/image/upload/c_crop,h_150,w_500/v1566903122/Hubstone_ogfubl.png" %>
    </div>

    <br>
    <br>

    <div>
      <p>Etude personnalisée de ...</p>
      <p>Conseiller : </p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div>
      <table border="0" cellpadding="10" cellspacing="5" width="40%">
        <thead>
          <tr>
            <th width="50%" align="left">Synthèse pèriode d'épargne</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Apport personnel : </strong></td>
          </tr><tr>
            <td><strong>Effort d'epargne mensuel : </strong></td>
          </tr><tr>
            <td><strong>Epargne investie sur la période : </strong></td>
          </tr><tr>
            <td><strong>Valeur patrimoniale à terme : </strong></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
