<div class="container">
  <div class="welcome-dashboard">
    <h3>Bienvenue sur votre tableau de bord <span><%= current_user.prenom %></span></h3>
  </div>
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active" data-target="clients">Clientèle</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-target="simulations">Simulations en cours</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-target="options">Options en cours</a>
    </li>
    <li>
      <a href="#" class="tab-underlined" data-target="sales">Ventes</a>
    </li>
  </ul>

  <div class="tab-content" id="clients">
    <container>
      <div class="row">
        <div class="col-8 offset-2 mt-3">
          <% @clients.each do |client| %>
          <ul><%= render 'shared/card-client', client: client %></ul>
          <% end %>
        </div>
      </div>
    </container>
  </div>

  <div class="d-none tab-content" id="simulations">
    <container>
      <div class="row">
        <div class="col-8 offset-2 mt-3">
          <h2>Simulations à venir...</h2>
          <%#= link_to "HTML", pdf_simulations_show_path, class: "btn btn-danger" %>
          <%#= link_to "PDF", pdf_simulations_show_path(format: :pdf), class: "btn btn-danger" %>
        </div>
      </div>
    </container>
  </div>

  <div class="d-none tab-content" id="options">
    <container>
      <div class="row">
        <div class="col-8 offset-2 mt-3">
          <h2>Aucune option pour le moment</h2>
        </div>
      </div>
    </container>
  </div>

  <div class="d-none tab-content" id="sales">
    <container>
      <div class="row">
        <div class="col-8 offset-2 mt-3">
          <h2>Aucune vente pour le moment...</h2>
        </div>
      </div>
    </container>
  </div>


</div>

