<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/agazielly/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1566914690/samson-ZGjbiukp_-A-unsplash_dlnxdv.jpg);">
</div>
