<div class="card-client">
  <img src="https://res.cloudinary.com/agazielly/image/upload/v1566378877/matheus-ferrero-pg_WCHWSdT8-unsplash_dhj8jr.jpg" />
  <div class="card-client-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

