<div id="fullpage">
  <div class="section s1 active">
  	
    <h1 class="animated fadeInRight delay-2s">Recherchez des biens parmi toute <span id="word-color">l'offre du marché</span></h1>
    
    <section id="section05" class="demo">
      <a id="section02" href="#section02"><span id="arrow"></span>Scroll</a>
    </section>
  </div>
  <div class="section s2" id="s2">
    <h1>Enrichissez vos recherches avec la puissance du <span id="word-color">Big-Data</span></h1>
  </div>
  <div class="section s3">
    <h1><span id="word-color">Automatisez</span> vos simulations clients</h1>
  </div>
  <div class="section s4">
    <h1><span id="word-color">Customisez</span> vos rapports d'investissement</h1>
  </div>
  <%#= render 'shared/banner' %>
</div>
