


<div id="fullpage">
	
	<div class="section s1 active">
		<h1 data-aos="fade-right">Recherchez des biens parmi toute <span id="word-color">l'offre du marché</span></h1>
		
		<section id="section05" class="demo">
  			<a href="#"><span id="arrow"></span>Scroll</a>
		</section>
	</div>


	<div class="section s2" id="s2">
		<h1 data-aos="fade-right">Enrichissez vos recherches avec la puissance du <span id="word-color">Big-Data</span></h1>
	</div>

	<div class="section s3">
		<h1 data-aos="fade-left"><span id="word-color">Automatisez</span> vos simulations clients</h1>

	</div>

	<div class="section s4">
		<h1 data-aos="fade-right"><span id="word-color">Customisez</span> vos rapports d'investissement</h1>

	</div>



<%#= render 'shared/banner' %>
</div>

