
  <div>
    <iframe width="840" height="500" frameborder="0" src="https://datafrance.info:443/paris-1er-arrondissement-75001/immobilier/statut-residence?iframe=true"></iframe>
  </div>

<div>
  <iframe width="840" height="500" frameborder="0" src="https://datafrance.info:443/paris-1er-arrondissement-75001/sport-loisirs/installations-sportives?iframe=true"></iframe>
</div>

<div>
  <iframe width="840" height="500" frameborder="0" src="https://datafrance.info:443/paris-1er-arrondissement-75001/population/categories-socioprofessionnelles?iframe=true"></iframe>
</div>
