<div class="container-index">
  <div class="d-flex">

    <div class="left-side">
      <div class="container-card">

        <div class="card-product" data-toggle="collapse" href="#card-details" role="button" aria-expanded="false" aria-controls="card-details" data-appartement-id=<%= @appartements.find(1).id %>>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h2><%= @appartements.find(1).promoteur %></h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>

        <div class="container-appartement-show collapse" id="card-details">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#synthese" class="nav-link active" data-toggle="tab">Synthèse</a>
            </li>
            <li class="nav-item">
              <a href="#scoring" class="nav-link" data-toggle="tab">Scoring</a>
            </li>
            <li class="nav-item">
              <a href="#data" class="nav-link" data-toggle="tab">Data</a>
            </li>
            <li class="nav-item">
              <a href="#documents" class="nav-link" data-toggle="tab">Documents</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane fade show active" id="synthese">
              <div class="synthese d-flex">
                <img src="https://res.cloudinary.com/agazielly/image/upload/v1566994755/synthese-globale-definitive-lot_ed2e96.png" id="img-synthese-globale">
              </div>
            </div>
            <div class="tab-pane fade" id="scoring">
              <div class="synthese d-flex">
                <img src="https://res.cloudinary.com/agazielly/image/upload/v1567002742/scoring_financier_zcghc1.png" id="img-scoring-financier">
              </div>
               <div class="synthese d-flex">
                <img src="https://res.cloudinary.com/agazielly/image/upload/v1567002745/scoring-immobilier_ddacsg.png" id="img-scoring-immobilier">
              </div>
              <div class="synthese d-flex">
                <img src="https://res.cloudinary.com/agazielly/image/upload/v1567002744/scoring-emplacement_fp3xkc.png" id="img-scoring-emplacement">
              </div>
            </div>
            <div class="tab-pane fade" id="data">
            </div>
            <div class="tab-pane fade" id="documents">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="right-side">
      <div
        id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
