<div class="container-card">
  <div class="card-product1">
    <div class="img-flex"><img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    </div>

    <div class="no-flex">
    	
    	<div class="card-product-infos row" style="margin: 0;">
    		<div class="col-3 d-flex align-items-center">
    			<h2 style="margin-left: 15px;">Le clos Saint Germain</h2>
    		</div>
    		<div class="col-3 d-flex justify-content-around align-items-center">
    			<h2>N°209</h2>
    			<h2>R+3</h2>
    		</div>
    		<div class="col-1 d-flex justify-content-center align-items-center">
    			<h2>4P</h2>
    		</div>
			<div class="col-2 d-flex justify-content-center align-items-center">
    			<h2>T4 2019</h2>
			</div>
			<div class="col-3 d-flex justify-content-center align-items-center">
    			<h2>350 000 €</h2>
			</div>
    		
  		</div>

  		<div class="no-flex2">
  			<p>Paris(75)</p>
  		</div>

  		<div class="no-flex3">
  			<div class="col-3 d-flex align-items-center">
  				<%= image_tag "nexity-logo.png", class:"no-flex3-img", style: "margin-left: 15px;" %>
  			</div>

			<div class="col-3 d-flex justify-content-center align-items-center">
				<%= link_to "Write a story", "#", class: "btn btn-ghost" %>
			</div>

			<div class="col-1 d-flex justify-content-center align-items-center">
			</div>
			
			<div class="col-2 d-flex justify-content-center align-items-center">
				<%= link_to "Write a story", "#", class: "btn btn-ghost" %>
			</div>

			<div class="col-3 d-flex justify-content-center align-items-center">
				<%= link_to "Write a story", "#", class: "btn btn-ghost" %>
			</div>

			
  		</div>






    </div>
    
    
  </div>
</div>