.card-product {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  transition: transform .2s;
}

.card-product:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  // transform: scale(1.02);
}

.card-product img {
  height: auto;
  width: 80%;
  object-fit: cover;
}

.map-card {
  margin-top : 10px;
}

// .card-content {
//   padding:10px 10px;
// }


.card-product-details-info thead > tr {
  color: white;
  background-color: #E6E6E6;
}

.card-product h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 1;
  color: black;
}

.card-product h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 1;
  color: black;
}

.card-product h3 {
  font-size: 12px;
  font-weight: normal;
  margin: 1;
  color: #9B9797;
}

.card-product p {
  line-height: 1.4;
  margin-bottom: 0;
}

#ville {
  font-size: 14px;
  color: #9B9797;
}

.card-product .card-product-infos {
  padding: 15px;
  width: 100%;
  position: relative;
  display: flex;
  margin-right: 10px;
  .card-product-main-infos {
    flex: 1;
  }
}

.flex {
  width: 160px;
  /*background-color: blue;*/
}

.flex .img-card {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.flex1 {
  /*background-color: purple;*/
}

.btn-plans {
  padding-top: 35px;
}

#orange {
  padding-right: 10px;
  padding-left: 10px;
  /*background-color: orange;*/
}

.flex2 {
  /*background-color: pink;*/
}

.flex3 {
  /*background-color: red;*/
}

.flex3,
.flex4 h2 {
  text-align: center;
}

.flex3,
.flex4 p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  text-align: center;
}

.flex5 {
  position: relative;
  right: 10px;
  // margin-top: 30px;
}
